@using CandyShop.Entities
@model CandyShop.ViewModels.Product.IndexVM
@{
    ViewData["Title"] = "product/index";
}

@foreach(Product item in Model.Products)
{
    <div>
        <h5>@item.Name</h5>
        <h6>@item.Price</h6>
    </div>
    <hr/>
}


