@using CandyShop.Entities
@model CandyShop.ViewModels.Product.IndexVM
@{
    ViewData["Title"] = "Manage";
}

<h1>Product/Manage</h1>

<a href="/Product/Create">Create</a>

@foreach(Product item in Model.Products)
{
    <div>
        <h5>@item.Name</h5>
        <h6>@item.Price</h6>
        <img src="" class="card-img-top" alt="...">
        <a href="/Product/Edit?id=@item.Id">Edit</a>
        <a href="/Product/Delete?id=@item.Id">Delete</a>
    </div>
    <hr />
    
}





