@using CandyShop.Entities;
@using CandyShop.ExtentionMethods;
@using CandyShop.Repositories;
@{
    ViewData["Title"] = "Account";
    User currentUser = this.ViewContext.HttpContext.Session.GetObject<User>("loggedUser");
}


<h1>/Account/Index</h1>


<div >
     <h6>FirstName</h6>
    @currentUser.FirstName
    <hr />

    <h6>LastName</h6>
    @currentUser.LastName

    <hr>

    <h6>Email</h6>
    @currentUser.Email
    <hr />

    <h6>Username</h6>
    @currentUser.Username
    <hr />

    <a href="/Account/Edit">Edit Account</a>
    <a href="/Account/ChangePassword">Change Password</a>
    
</div>




